<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/bootstrap/bootstrap.min.css" />
    <style>
        .Login {
            background: #F7F7F7;
        }
    </style>
			<link href="@Url.Content("lib/blazor-ui/swatches/default-turquoise.css")" rel="stylesheet" type="text/css" />


			<script src="_content/Telerik.UI.for.Blazor/js/telerik-blazor.js" defer></script>


</head>
<body class="Login">
@*<nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Hospital</span>
    </div>
</nav>*@
@RenderBody()

    
</body>
</html>