@using Hospital.Web.BlazorServer.Models.Auth;
<h3>PatientSearch</h3>

<h2>@returnValue</h2>

@code {
    [CascadingParameter]
    public LoginedUser? userInfo { get; set; }

    [CascadingParameter]
    public int? returnValue { get; set; }

    protected override async Task OnInitializedAsync()
    {
        returnValue=324;
        StateHasChanged();
    }
}
