@page "/RptOPDBill"

@model Hospital.Web.BlazorServer.Pages.RptOPDBillModel


<h3>RptOPDBill</h3>
<div class="container">
    <div class="row">
        <div class="col-3">
            Patient : Elias Sarband
            </div>
        <div class="col-3">
            NationalCode : 1263301940
            </div>
        <div class="col-3">
            Occupation : Software Engineer
        </div>
        <div class="col-6">
            Address : Tehran - jannat Abad - number 76
        </div>
        <div class="col-6">
            Mobile : 09125056182
        </div>
    </div>
</div>


